@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>

@using (Html.BeginForm())
{
   @*  @Html.HiddenFor(model => model.ClientId)*@
    @Html.LabelFor(model => model.StylistName)
    @Html.TextBoxFor(model => model.StylistName)

    @Html.LabelFor(model => model.Client)
    @Html.DropDownList("ClientId")
    <input type="submit" value="Add new stylist" class="btn btn-info" />
}

@*//Enter in appointment time/specialty options by if this stylistid==this specialtyid then book if appt.timeslot ==null.*@
<p>@Html.ActionLink("Show all stylists", "Index")</p>