@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistNames): @Html.DisplayFor(model => model.StylistNames)</h3>
<p>@Html.ActionLink("Back to stylist list", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Add new stylist", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>