@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Client List</h1>
<hr />
@if (Model.Count == 0)
{
  <p>There are no clients in the list.</p>
}
<ul>
  @foreach (Client client in Model)
  {
    <li><@Html.ActionLink($"{client.clientname}", "Details", new{ id = client.ClientId }) </li>
  }
</ul>

<p>@Html.ActionLink("Add new client", "Create")</p>

@*<p>@Html.ActionLink("Add new Appointment", "Create", new $"{client => stylist.ClientTimeSlot}"")</p>*@

<p>@Html.ActionLink("Add new stylist", "Create", "Stylist")</p>
*@
<p>@Html.ActionLink("Home", "Index", "Home")</p>



@*
<p>@Html.ActionLink("Delete from client(s)", "Delete", "Client">

<p>@Html.ActionLink("Add appointment for client", "Index", "Create")</p>

//new appointment
<ul>
  @foreach (Model model in Model)
  {
      @Html.HiddenFor(model => model.ClientId)
      @Html.HiddenFor(model => model.StylistId)


    <li>@ViewBag($"{client.clientname}", "Details", new{ client.ClientId})</li> @*+ client.ClientTimeSlot + clientname.ClientTimeSlot}) </li>*@
  }
    @if( stylist.StylistTimeSlot && client.ClientTimeSlot == null)
    
      <p>@using (Html.BeginForm())
</p>
    @if{  
      @ViewBag($"{client.clientname", "Details"}")
    
      @ViewBag($"{stylist.stylistname", "Details"}")
    
     
      <p>Appointment conflict; Book another Time Slot. </p>
      @Html.HiddenFor(model => model.ClientId)

      @Html.LabelFor(model => model.ClientName)
      @Html.EditorFor(model => model.ClientName)

      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")

      <input type="submit" value="Save" />
    }
    
  }
</ul>}
